@tailwind base;
@tailwind components;
@tailwind utilities;


.paragraph {
   @apply text-primary text-xl lg:text-2xl lg:leading-9 font-light
}

.bg-cover {
   background: url("/images/cover.png");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.article-content::after {
   content: "";
   position: absolute;
   left: 0;
   background: linear-gradient(180deg, rgba(0, 0, 0, .25) -17.98%, rgba(0, 0, 0, .5));
   top: 0;
   height: 100%;
   width: 100%;
   z-index: 1;
   border-radius: 1.25rem;
}
.article-content:hover .article-img{
   transform: scale(1.1);
}
.hover-transition{
   transition: .5s;
   /* transition-property: color,background-color,border-color,text-decoration-color,fill,stroke;
   transition-timing-function: cubic-bezier(.4,0,.2,1); */
}
.hover-transition:hover{
   border-color: transparent;
}